<ion-view view-title="Bienvenue">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap" style="text-align:center"> 
                <h3>
                    {{now | date:"dd/MM/yyyy"}}
                </h3>
                <h1> Driver App</h1>
                <h3> Bienvenue</h3>
            </div>
            <div class="item item-text-wrap" style="text-align:center">                
                <h1>
                    {{now | date:"HH:mm"}}
                </h1>
            </div>
            <div class="item item-text-wrap" style="text-align:center" ng-if="errorStr!=''">
                &nbsp;
                <span>
                    <span style="background-color: #f7a39c;color: #fff;padding:5px;border: #ef473a 0.5px solid;border-radius: 2.5px;">
                        {{errorStr}}
                    </span> 
                </span>
            </div>

            <div class="item item-text-wrap" style="text-align:center"> 
                <form ng-submit="findPath()">
                    <div class="list">
                        <label class="item item-input">
                            <input type="number" class="form-control" ng-model="path.id" placeholder="identifiant de trajet" >
                        </label>
                        <label class="item">
                            <button class="button" type="submit">
                                <i class="ion ion-android-done" style="width:25px;"></i> Trouver
                            </button>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
